@import "../../sass/abstracts/abstracts.scss";

.banner {
    background-image: url("/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: rem(231) 0 rem(25);
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond("extra-large") {
        padding-top: rem(200);
    }

    @include respond("large") {
        padding: rem(150) 0 2rem;
    }

    @media only screen and (max-width: 47em) {
        padding-top: rem(100);
    }

    @include respond("large") {
        padding-top: rem(70);
    }

    @include respond("extra-small") {
        padding-top: rem(40);
    }

    .container {
        max-width: unset;
        width: 80em;

        @media only screen and (max-width: 79.99em) {
            width: 100%;
        }
    }
}

.titleBox {
    position: relative;
    padding: rem(13) rem(15);

    &::before {
        content: "";
        display: block;
        width: rem(36);
        height: rem(36);
        background-color: $color-primary;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5px, 5px);
    }
    @include respond("extra-large") {
        &::before {
            width: rem(30);
            height: rem(30);
        }
    }

    @include respond("large") {
        &::before {
            width: rem(25);
            height: rem(25);
            transform: translate(rem(7), rem(7));
        }
    }
}

.heading {
    position: relative;
    line-height: 1;
    font-size: rem(72);
    font-weight: 900;
    text-shadow: 0 rem(4) rem(6) rgba(21, 21, 25, 0.94);
    -webkit-text-stroke: 2px $color-primary;
    z-index: 1;
    @include respond("extra-large") {
        font-size: rem(58);
    }
    @include respond("large") {
        font-size: rem(52);
        -webkit-text-stroke: 1.5px $color-primary;
    }
    @include respond("small") {
        font-size: rem(42);
        text-shadow: 0 1px 2px rgba(21, 21, 25, 0.54);
    }
    @include respond("extra-small") {
        font-size: rem(36);
        -webkit-text-stroke: 1px $color-primary;
    }
    span:not(:first-child) {
        line-height: 1.74;
        letter-spacing: rem(10);
        display: block;
        margin-top: 16px;
        @include respond("small") {
            line-height: 1.3;
            margin-top: 3px;
            letter-spacing: 5px;
        }
    }
}

.service {
    display: flex;
    flex-wrap: wrap;
    @include respond("extra-small") {
        justify-content: center;
    }
    & > * {
        margin: 0 1% rem(32);

        @media only screen and (max-width: 44em) {
            margin: 0 3% rem(32);
        }

        @include respond("extra-small") {
            margin: 0 5% rem(22);
            justify-content: center;
        }
    }
}
