@import "../../sass/abstracts/abstracts.scss";

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: rem(60) 0;

    & > * {
        margin: 0 rem(55);

        @include respond("large") {
            margin: 0 rem(45);
        }

        @include respond("medium") {
            margin: 0 rem(35);
        }

        @include respond("small") {
            margin: 0 20px;
        }

        @include respond("extra-small") {
            margin: 0 15px;
        }
    }
}

.productImg {
    max-width: rem(594);

    @media only screen and (max-width: 86.25em) {
        max-width: 35%;
    }

    @include respond("large") {
        max-width: 30%;
    }

    @include respond("medium") {
        max-width: 25%;
    }

    @include respond("small") {
        max-width: 40%;
        margin-bottom: 4rem;
    }

    img {
        width: 100%;
    }
}

.content {
    @include respond("small") {
        align-self: flex-start;
    }
}

.list {
    color: $color-secondary-4;
    position: relative;

    li {
        position: relative;
        margin-top: 1rem;
        padding-left: 1rem;
        &::before {
            content: "";
            background-color: $color-primary;
            display: block;
            height: rem(6);
            width: rem(6);
            position: absolute;
            left: 0;
            top: rem(6);
        }
    }
}
