@import "../../sass/abstracts/abstracts.scss";

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: rem(60) 20px;

    @include respond("medium") {
        padding-left: 0;
        padding-right: 0;
    }

    @include respond("small") {
        justify-content: space-between;
        position: relative;
    }

    @include respond("extra-small") {
        padding-left: 10px;
        padding-right: 10px;
    }

    & > * {
        margin: 0 rem(55);

        @include respond("medium") {
            margin: 0 rem(45);
        }

        @include respond("medium") {
            margin: 0 20px;
        }

        @include respond("extra-small") {
            margin: 0 5px;
        }
    }
    .sectionHeading {
        margin: -1.3rem 0 rem(47);

        @include respond("large") {
            h2 {
                font-size: rem(30);
            }
        }
        @include respond("small") {
            margin-bottom: 0;
        }

        @include respond("extra-small") {
            h2 {
                font-size: rem(20);
            }
            h3 {
                font-size: rem(25);
            }
        }
    }
}

.productImg {
    max-width: rem(692);

    @media only screen and (max-width: 86.25em) {
        max-width: 40%;
    }

    @include respond("small") {
        max-width: unset;
        flex: 1;
        & > :nth-child(2) {
            margin-top: 3rem;
        }
    }

    img {
        width: 100%;
    }
}

.icon {
    height: rem(105);
    margin-bottom: rem(29);

    @include respond("large") {
        height: rem(80);
    }

    @include respond("medium") {
        height: rem(70);
    }

    @include respond("small") {
        height: rem(50);
        margin-bottom: rem(19);
    }

    @include respond("extra-small") {
        height: rem(40);
    }

    img {
        height: 100%;
    }
}

.content {
    font-size: rem(32);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    &.animation {
        animation: popup 0.8s ease-in both;
    }
    @include respond("extra-large") {
        font-size: rem(26);
    }

    @include respond("large") {
        font-size: rem(21);
    }

    @include respond("medium") {
        font-size: rem(18);
    }

    @include respond("extra-small") {
        font-size: rem(16);
    }
}

.title {
    color: $color-shadow;
    display: inline-block;
    line-height: 1;
    &::after {
        content: "";
        display: block;
        background-color: $color-primary;
        height: rem(8);
        width: 100%;
        margin: rem(16) 0;
        @include respond("small") {
            margin: rem(10) 0;
            height: rem(5);
        }
    }
}

.info {
    color: $color-text;
    text-align: center;
    line-height: 1.5;
}
