*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    @include respond("extra-large") {
        font-size: 90%;
    }

    @media only screen and (max-width: 50em) {
        font-size: 80%;
    }
}

body {
    box-sizing: border-box;
    line-height: 1.2;
    font-weight: 400;
    font-family: $font-family-base;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.fixed {
        overflow: hidden;
    }
}

button {
    border: none;
    background: none;
    &:focus {
        outline: "none";
    }
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

::selection {
    background-color: $color-primary;
    color: #fff;
}

//placeholder style
form {
    @include placeholder($color-grey, 16px);
}

input {
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    border: none;
    -webkit-appearance: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: $container-width;
    padding-left: 20px;
    padding-right: 20px;
}

//overwrite react-slick styles

.slick-slider {
    .slick-prev::before,
    .slick-next::before {
        font-size: 0;
    }

    .slick-prev.slick-disabled,
    .slick-next.slick-disabled {
        background-color: transparent;
        cursor: initial;
        &:hover {
            background-color: transparent;
        }
        img {
            display: none;
        }
    }

    .slick-dots {
        li {
            margin: 0;
            @include respond("small") {
                margin: 0 -2px;
            }
        }
        li button:before {
            content: "";
            width: rem(14);
            height: rem(13);
            background-color: #fdcebb;
            opacity: 1;

            @include respond("small") {
                width: rem(10);
                height: rem(9);
            }
        }

        li.slick-active button:before {
            content: "";
            background-color: $color-primary;
        }
    }
}

//Offsetting anchor hash tag links to adjust for fixed header
.offset::before {
    display: block;
    content: " ";
    height: 80px; //header height
    visibility: hidden;
}
